/*-------by hby-------*/
body {
    min-width: 1226px;
    background-color: #fff;
    font: 14px/1.5 arial,'Microsoft Yahei','Hiragino Sans GB',sans-serif;
    color: #333;
}
.container {
    width: 1226px;
    margin: 0 auto;
}
/*-------topbar-------*/

.site-topbar {
    position: relative;
    z-index: 30;
    height: 40px;
    font-size: 12px;
    background: #333;
}
.site-topbar a {
    color: #b0b0b0;
}
.sep {
    margin: 0 3px;
    font-family: sans-serif;
}
.site-topbar .sep {
    margin: 0 .25em;
    color: #424242;
}
.topbar-nav {
    float: left;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
}
.topbar-cart,
.topbar-info {
    float: right;
    line-height: 40px;
    height: 40px;
}
.site-topbar .topbar-info .sep {
    margin: 0;
}
.topbar-nav a:hover,
.topbar-info a:hover
{
    color: #ffffff;
}
.topbar-cart {
    width: 120px;
    margin-left: 15px;
}
.topbar-cart i{
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -4px;
}
.topbar-cart a {
    position: relative;
    z-index: 32;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
}
.topbar-cart .cart-info {
    display: none;
    position: relative;
    top: 0;
    right: 200px;
    width: 320px;
    height: 100px;
    box-shadow: 0 0 8px #b0b0b0;
    background-color: #ffffff;
    text-align: center;
}
.topbar-cart .cart-info p {
    padding: 30px 0;
    color: #424242;
}
/*-------topbar-------*/

/*-------header-------*/
.site-header {
    position: relative;
    z-index: 20;
    height: 100px;
}
/*header-logo*/
.site-header .header-logo {
    float: left;
    width: 55px;
    height: 55px;
    margin-top: 22px;
    padding: 3px;
    background: #ff6700;
}
/*header-nav*/
.site-header .header-nav {
    position: relative;
    z-index: 10;
    float: left;
    width: 850px;
    height: 100px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}
.site-header .nav-item {
    float: left;
}
/*------分类列表------*/
.site-header .nav-category {
    position: relative;
    float: left;
    width: 148px;
    padding-right: 15px;
}
.site-header .nav-category .link-category {
    visibility: hidden;
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}
.site-category {
    display: block;
    position: absolute;
    top: 88px;
    left: -86px;
    z-index: 21;
    width: 234px;
    height: 460px;
    font-size: 14px;
}
.site-category-list {
    padding: 20px 0;
    border: 0;
    color: #fff;
    background: #333;
    background: rgba(0,0,0,0.6);
}
.site-category-list .title {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    color: #ffffff;
}
.site-category-list .title:hover {
    background-color: #ff6700;
}
.site-category-list .title .iconfont {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 22px;
    line-height: 22px;
    color: rgba(255,255,255,0.5);
}
/*------分类列表------*/
.site-header .nav-item {
    float: left;
}
.site-header .nav-item .link {
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}
.site-header .nav-item .link:hover {
    color: #ff6700;
}
/*header-search*/
.site-header .header-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}
.site-header .search-form {
    position: relative;
    width: 296px;
    height: 50px;
}
.site-header .search-text {
    position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 245px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.site-header .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    background: #fff;
    color: #616161;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.site-header .search-hot-words {
    position: absolute;
    top: 14px;
    right: 62px;
    z-index: 2;
    text-align: right;
}
.site-header .search-hot-words a {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.site-header .search-hot-words a:hover {
    background-color: #ff6700;
    color: #ffffff;
}
.site-header .search-hot-lists {
    display: none;
    position: relative;
    left: 0;
    top: 50px;
    z-index: 20;
    width: 245px;
    border: 1px solid #ff6700;
    border-top: 0;
    background: #fff;
}
.site-header .search-hot-lists .list-item {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    font-size: 12px;
}
.site-header .search-hot-lists .list-item span{
    float: right;
}
.navinfo {
    display: none;
    position: absolute;
    top: 100px;
    left: -56px;
    z-index: 21;
    font-size: 14px;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
}
.navinfo-border {
    display: none;
    border-top: 1px solid #e0e0e0;
    box-shadow: 4px 2px 6px #e0e0e0;
    background-color: #ffffff;
    width: 100%;
    height: 242px;
}
.navinfo .navinfo-item {
    float: left;
    width: 203px;
}
.navinfo-list {
    display: none;
}
.navinfo .navinfo-title {
    border: 1px solid #ff6700;
    width: 60px;
    margin: -1px auto 0 auto;
    text-align: center;
    color: #ff6700;
}
.navinfo .navinfo-title-none {
    height: 23px;
    background-color: #ffffff;
}
.navinfo-item img{
    display: inline-block;
    width: 160px;
    height: 110px;
    margin: 15px 22px;
}
.navinfo-item .navinfo-det {
    color: #757575;
    text-align: center;
    padding-bottom: 30px;
}
.navinfo-item .navinfo-det span {
    color: #ff6700;
}
.line {
    float: left;
    width: 1px;
    height: 110px;
    margin: 36px 0;
    background-color: #e0e0e0;
}
/*-------header-------*/

/*-------banner-------*/

.site-main {
    position: relative;
}
.site-main .main-banner {
    float: left;
    overflow: hidden;
    width: 1226px;
    height: 460px;
}
.site-main .main-banner .banner-item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}
.main-banner .banner-item a {
    display: block;
}
.main-banner .banner-item,
.main-banner .banner-item a,
.main-banner .banner-item img {
    width: 1226px;
    height: 460px;
}
.site-main .main-banner .banner-item-active {
    display: block;
}
/*上下页按钮*/
.main-banner .btn-pager {
    position: absolute;
    top: 195px;
    z-index: 10;
    width: 40px;
    height: 70px;
    text-align: center;
}
.main-banner .btn-pager i {
    line-height: 70px;
    font-size: 30px;
    color: rgba(117, 117, 117, 0.5);
}
.main-banner .btn-prev {
    left:234px;
}
.main-banner .btn-next {
    right: 0;
}
.main-banner .btn-pager:hover {
    background: rgba(0,0,0,.3);
}
.main-banner .btn-pager i:hover {
    color: #ffffff;
}
/*banner-pager*/
.main-banner .banner-pager {
    position: absolute;
    right: 30px;
    bottom: -440px;
    left: auto;
    z-index: 30;
    display: block;
    width: 400px;
    font-size: 0;
    color: #666;
    text-align: right;
}
.banner-pager li {
    display: inline-block;
}
.banner-pager a {
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border: 2px solid #757575;
    border-radius: 50%;
    background: rgba(0,0,0,.4);
    -webkit-transition: all .2s;
    transition: all .2s;
}
.banner-pager a:hover,
.banner-pager .active a{
    border-color: #757575;
    border-color: rgba(0,0,0,.4);
    background: #fff;
    background: rgba(255,255,255,.4);
}
/*-------banner-------*/



