/*-------topbar-------*/
.site-topbar {
    position: relative;
    z-index: 30;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    background: #333;
}
.site-topbar a {
    color: #b0b0b0;
}
.site-topbar .container {
    margin-right: auto;
    margin-left: auto;
}
.topbar-nav {
    float: left;
    overflow: hidden;
}
.site-topbar .sep {
    margin: 0 .5em;
    color: #424242;
}
.topbar-cart,
.topbar-info {
    float: right;
}
.topbar-nav a:hover,
.topbar-info a:hover
{
    color: #ffffff;
}
.topbar-cart {
    width: 120px;
    margin-left: 15px;
}
.topbar-cart i{
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -4px;
}
.topbar-cart a {
    position: relative;
    z-index: 32;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
}
.topbar-cart a:hover {
    color: #ff6700;
    background-color:#ffffff;
}
/*-------topbar-------*/
/*-------header-------*/
.site-header {
    position: relative;
    z-index: 20;
    height: 100px;
}
.site-header .container {
    margin-right: auto;
    margin-left: auto;
}
.site-header .header-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}
.site-header .header-logo a{
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    padding: 1px;
    overflow: hidden;
    background-color: #ff6700;
}
.site-header .header-nav {
    float: left;
    width: 850px;
}
.site-header .header-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}
.site-header .nav-list {
    position: relative;
    z-index: 10;
    float: left;
    width: 820px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}
.site-header .nav-category {
    position: relative;
    float: left;
    width: 127px;
    padding-right: 15px;
}
.site-header .nav-category .link-category {
    visibility: hidden;
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}
.site-header .nav-item {
    float: left;
}
.site-header .nav-item .link {
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}
.site-header .nav-item .link:hover {
    color: #ff6700;
}
.site-header .header-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}
.site-header .search-form {
    position: relative;
    width: 296px;
    height: 50px;
}
.site-header .search-text {
    position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 245px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.site-header .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    background: #fff;
    color: #616161;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.site-header .search-form .active {
    background-color: #ff6700;
    color: #ffffff;
}
.site-header .header-search .addborder {
    border-color: #b0b0b0;
}
.site-header .search-hot-words {
    position: absolute;
    top: 14px;
    right: 62px;
    z-index: 2;
    text-align: right;
}
.site-header .search-hot-words a {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.site-header .search-form a:hover {
    background-color: #ff6700;
    color: #ffffff;
}
/*-------header-------*/
